x-consumer-base: &consumer_base
  build:
    context: .
    dockerfile: Dockerfile.dev
  command: ["watchfiles", "python -m src.consumer"]
  volumes:
    - .:/app/
  env_file:
    - ./.env.dev
  networks:
    - local_network
  depends_on:
    redis:
      condition: service_healthy
    rabbitmq:
      condition: service_healthy

services:
  api:
    container_name: sse_api
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: ["uvicorn", "src.main:app", "--reload", "--host", "0.0.0.0", "--port", "8000"]
    volumes:
      - .:/app/
    ports:
      - "${API_PORT:-8000}:8000"
    env_file:
      - ./.env.dev
    networks:
      - local_network
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
  
  redis:
    container_name: redis
    image: redis:7.2.4-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes: 
      - redis_volume:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
    networks:
      - local_network

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_volume:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - local_network

  consumer_east:
    <<: *consumer_base
    container_name: consumer_east
    environment:
      REGION: EAST-1

  consumer_west:
    <<: *consumer_base
    container_name: consumer_west
    environment:
      REGION: WEST-1

networks:
  local_network:
    driver: bridge

volumes:
  redis_volume:
  rabbitmq_volume:
